:root {
    --sections-display: flex;
    --sections-justify: space-between;
    --sections_children-1: 70%;
    --sections_children-2: 25%;
}

@media (max-width:768px) {
    :root {
        --sections_children-1: 60%;
        --sections_children-2: 35%;
    }
}

@media (max-width:414px) {
    :root {
        --sections-direction: column;
        --sections_children-1: min(100%, fit-content);
        --sections_children-2: 100%;
        --children_1-MB: 20px;
    }
}

html {
    scroll-behavior: smooth
}

* {
    font-family: 'Nunito';
}

body {
    margin: 0;
    background-color: #272727;
    font-family: 'Nunito';
}

a {
    text-decoration: none;
}

.container {
    width: 74%;
    margin-left: 13%;
}

@media (max-width:992px) {
    .container {
        width: 90%;
        margin-left: 5%;
    }
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #272727;
    z-index: 9999;
}

.nav_container {
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_container h1 {
    color: #ff858d;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 25%;
    font-weight: bold;
}

@media (max-width:768px) {
    .navigation {
        width: 35%;
    }
}

@media (max-width:414px) {
    .navigation {
        display: none;
    }
}

.navigation > a {
    color: #fff;

    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.navigation > a:hover {
    color: #ff9fe5;
    cursor: pointer;
}

.nav_container .active {
    color: #d35058;
}

.menu-hamburger {
    width: 50px;
    display: none;
}

@media (max-width:414px) {
    .menu-hamburger {
        display: block;
    }
}

.menu-hamburger p {
    height: 3px;
    width: 100%;
    background-color: #ff858d;
    margin-bottom: 12px;
    margin-top: 12px;

    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
}

.navigation_mobile {
    display: none;
}

@media (max-width:414px) {
    .navigation_mobile {
        height: 25vh;
        width: 100vw;
        display: flex;
        position: fixed;
        right: 0;
        top: 0;
        background-color: #fff;
        flex-direction: column;
        padding: 20px;
        padding-top: 0;
        box-sizing: border-box;

        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);

        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
    }
}

@media (max-width:360px) {
    .navigation_mobile {
        height: 37vh;
    }
}

.navigation_mobile__header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.navigation_mobile__header h1 {
    margin-top: 0;
}

.navigation_mobile__header i {
    font-size: 2em;
    color: red;
}

#nav_mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navigation_mobile a {
    color: #000;
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: bold;
}

section {
    padding-top: 20px;
}

section:first-of-type {
    margin-top: 120px;
}

@media (max-width:768px) {
    section:first-of-type {
        margin-top: 80px;
    }
}

section > h1 {
    font-size: 3rem;
    color: #fff;
}

@media (max-width: 768px) {
    section > h1 {
        text-align: center;
    }
}

/* ************************************************************ */
/* *PROJETOS* */
/* ************************************************************ */


.projects_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(48%, 19rem), 1fr));
    gap: 1.5rem; 
}

.projects_card_container {
    color: #fff;
    background-color: transparent;
    perspective: 1000px;
    
}

.projects_card_subContainer {
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    height: 100%
    
}

.projects_card_container:hover 
.projects_card_subContainer {
    transform: rotateY(180deg);
}

.projects_card_subContainer img {
    max-width: 100%;
    display: block;
}

.projects_card_subContainer > div {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.projects_card_container > div:nth-of-type(2) {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #fff;
    border-top: 0;
    height: 70px;
}

.projects_card_container > div:nth-of-type(2) > p {
    margin: 0;
    font-size: 20px;
}

.projects_cardBack_container {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);

    height: 100%;
    width: 100%;
    background-color: #ccc;
    position: absolute;
    top: 0;
}

.projects_cardBack_subContainer {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 80%;
    margin-left: 10%;
    padding-top: 5%;
}

@media (max-width:1366px) {
    .projects_cardBack_subContainer {
        width: 86%;
        margin-left: 7%;
    }
}

.projects_cardBack_subContainer > div {
    font-size: 3.7em;
}

.projects_technologies {
    font-size: 3.7em;
    display: grid;
    grid-template-columns: repeat(3, 33%);
}

.projects_links {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 10px;
    width: 100%;
    align-items: center;
}

.projects_cardBack_subContainer > div > i {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.fa-eye {
    margin: 0;
}

.jquery_black {
    /* background-image: url('../vendors/icons/jquery/jquery_black.png'); */
    background-image: url('../vendors/icons/jquery/jquery-big.png');
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
}

.projects_cardBack_subContainer > p {
    width: 40%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 60%;
    left: 30%;
}

.projects_cardBack_subContainer > div:nth-of-type(2) > i {
    cursor: pointer;
}

/* ************************************************************ */
/* *ABOUT* */
/* ************************************************************ */

.about_container {
    display: flex;
    justify-content: space-between;
    display: var(--sections-display);
    justify-content: var(--sections-justify);
    flex-direction: var(sections-direction);
}

@media (max-width:414px) {
    .about_container {
        flex-direction: column;
    }
}

.about_text {
    background-color: #fff;
    padding: 15px;
    color: #000;
    text-align: justify;
    width: var(--sections_children-1);
    margin-bottom: var(--children_1-MB);
}

.about_text > p {
    margin: 0;
}

.about_skills {
    height: fit-content;
    width: var(--sections_children-2);
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 30px;
    grid-auto-rows: 50px;
}

.jquery_grey {
    background-image: url('../vendors/icons/jquery/jquery_grey.png');
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    height: 80%;
    width: 40px;
}

.about_skills img  {
    max-height: 80%;
}

.about_skills > div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #eee;
    font-size: 2em;
    color: #e6e6e6;
}

.about_skills > div:first-of-type {
    grid-column-start: 1;
    grid-column-end: 4;
    height: 30px;
    font-size: 1.25em;
}

/* ************************************************************ */
/* *SLIDER* */
/* ************************************************************ */

.projects_modal_container {
    height: 100vh;
    width: 100%;
    background-color: rgba(63, 61, 61, 0.774);
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;

    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
}

.modal_body {
    position: relative;
    background-color: #fff;
    width: 70%;
    max-width: 1334px;
    height: 90%;
    margin-top: 3%;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}

@media (max-width:768px) {
    .modal_body {
        width: 90%;
        height: 72%;
        margin-top: 14%;
    }
}

@media (max-width:768px) {
    .modal_body {
        width: 96%;
        height: 90%;
        margin-top: 5%;
    }
}

.modal_body_subContainer {
    padding-top: 5%;
    display: grid;
    justify-content: center;
    grid-column-gap: 2em;
    grid-template-columns: 45% 45%;
    grid-template-rows: 40% 25% 35%;
    grid-template-areas: "slider info"
                         "slider info"
                         "slider description";
}

@media (max-width:768px) {
    .modal_body_subContainer {
        padding: 10% 5%;
        padding-bottom: 5%;
        gap: 1em 2em;
        grid-template-columns: 60% 35%;
        grid-template-rows: 40% 30% 30%;
        grid-template-areas: "slider description"
                             "slider description"
                             "info info";
    }
}

@media (max-width:414px) {
    .modal_body_subContainer {
        grid-template-columns: 100%;
        grid-template-rows: 70% 30%;
        grid-template-areas: "slider"
                             "info";
    }
}

.modal_closed {
    visibility: hidden;
    opacity: 0;
}

.modal_open {
    visibility: visible;
    opacity: 1;
}

.modal_exit {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 2.5em;
    color: rgb(92, 92, 92);
    cursor: pointer;
    margin: 0;
}

@media (max-width:414px) {
    .modal_exit {
        font-size: 1.5em;
        top: 10px;
        right: 15px;
    }
}

.slider_container {
    display: grid;
    grid-column-gap: 1em;
    grid-template-columns: 90% 10%;
    grid-template-rows: 10% auto;
    grid-area: slider;
}

@media (max-width:414px) {
    .slider_container {
        grid-column-gap: 0.5em;
        grid-template-columns: 88% 10%;
    }
}

.slider_container > h1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: auto;
    margin: 0;
    font-size: 2em;
}

@media (max-width:414px) {
    .slider_container > h1 {
        font-size: 1em;
    }
}

.active_thumb {
    border: 3px solid rgb(102, 102, 102);
    width: calc(100% - 6px);
}

.slider_container img {
    max-width: 100%;
    cursor: pointer;
}

.modal_info_container {
    padding: 0 40px;
    grid-area: info;
}

@media (max-width:768px) {
    .modal_info_container {
        display: flex;
        justify-content: space-between;
        padding: 0;
        align-self: center;
    }
}

@media (max-width:414px) {
    .modal_info_container {
        flex-direction: column;
    }
}

.modal_info_container h1 {
    text-align: center;
}

@media (max-width:768px) {
    .modal_technologies {
        width: 55%;
    }
}

@media (max-width:768px) {
    .modal_technologies {
        width: 100%;
    }
}

@media (max-width:360px) {
    .modal_technologies {
        display: none;
    }
}

.modal_technologies > div {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.modal_technologies > h1 {
    margin-top: 0;
    margin-bottom: 10px;
}

.modal_technologies i {
    font-size: 4em;
    justify-self: center;
}

.modal_links {
    margin-bottom: 10px;
}

@media (max-width:768px) {
    .modal_links {
        width: 40%;
    }
}

@media (max-width:414px) {
    .modal_links {
        width: 100%;
    }
}

.modal_links > div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.modal_links h1 {
    margin-top: 0;
}

.modal_links i {
    font-size: 4em;
}

@media (max-width:414px) {
    /* .modal_links h1 {
        display: none;
    } */

    .modal_links i {
        font-size: 3em;
    }
}

.modal_description {
    text-align: justify;

    grid-area: description;
    padding-left: 10px;
    margin: 0;
}

@media (max-width:768px) {
    .modal_description {
        padding-top: 18%;
    }
}

@media (max-width:414px) {
    .modal_description {
        display: none;
    }
}


/* ************************************************************ */
/* *CONTACT* */
/* ************************************************************ */

.contact_container {
    display: var(--sections-display);
    justify-content: var(--sections-justify);
    flex-direction: var(--sections-direction);
}

.contact_form {
    background-color: #e6e6e6;
    width: var(--sections_children-1);
    margin-bottom: var(--children_1-MB);
}

.contact_form form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 5%;
}

.contact_form input {
    height: 30px;
    border: 0;
    margin-bottom: 15px;
    padding-left: 10px;
}

.contact_form textarea {
    height: 100px;
    border: 0;
    padding-left: 10px;
    padding-top: 10px;
}

.contact_form input:focus,
.contact_form textarea:focus {
    outline: none;
}

.contact_form input[type=submit] {
    color: #fff;
    background-color: #d35058;
    border: 0;
    margin-bottom: 16px;
    margin-top: 16px;
    height: 30px;
    cursor: pointer;
}

.contact_social {
    background-color: #e6e6e6;
    width: var(--sections_children-2);
    height: fit-content;
}

.contact_social > div {
    display: flex;
    flex-direction: column;
    justify-content: center;

    border: 1px solid rgba(0,0,0,.125);
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;

    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.contact_social > div > a {
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: #d35058;
}

.contact_social > div > a:hover {
    color: #ee1d2b;
}

.contact_social > div > a:not(:last-of-type) {
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.contact_social > div > a i {
    margin-right: 10px;
}

/* ************************************************************ */
/* *FOOTER* */
/* ************************************************************ */

footer {
    background-color: #d35058;
    color: #fff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

@media (max-width:414px) {
    footer {
        margin-top: 50px;
    }
}